.LeftbarMainContainer {
	flex :0.7;
	background-color:black;
	height:100vh,
}


.websitename{
	color:white;
	margin-left :1rem;
	font-weight:400;
}

.dot{
	color:red;
	font-weight:400;
}